{% extends 'catalog/base.html' %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container mt-3">
        <div class="row">
            <div class="col-5 mx-auto">
                <h2>Наши контакты:</h2>
                <p>
                    г. Калининград {{ object_list.phone }}<br>
                    (c 02:00 до 21:00)
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-5 mx-auto">
                <h2>Мы в социальных сетях:</h2>
                <p>
                    ВКонтакте - {{ object_list.vk }}<br>
                    Telegram - {{ object_list.telegram }}
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr>
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card">
                <div class="card-header mx-auto">
                    <h5>Оставьте заявку для обратной связи</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <label class="col-sm-12">
                            <input type="text" name="name" class="form-control mb-2" placeholder="Имя">
                            <input type="email" name="email" class="form-control mb-2" placeholder="Email">
                            <textarea name="message" class="form-control mb-2"
                                      placeholder="Дополнительная информация"></textarea>
                        </label>
                        <input class="btn btn-primary w-100" type="submit" value="Send"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div><!-- /container -->
{% endblock %}