{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="card border-light mt-5">
                <div class="row g-0">
                    <div class="col-6">
                        <img src="{{ object.preview|path_filter }}" alt="..." width="500" height="300"/>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">{{ object.name }}</h5>
                            <p class="card-text">{{ object.title }}</p>
                            <p class="card-text"><small
                                    class="text-body-secondary">{{ object.creation_date }}</small>
                            </p>
                            <p class="card-text">
                                {{ object.price }} ₽
                            </p>
                            <a href="#" class="btn btn-primary float-right">Купить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}