{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Добро пожаловать!</h1>
            <p>Наша компания приветствует всех, кто зашёл на сайт! Среди нашего ассортимента вам точно удастся найти
                товар, который Вы так давно искали. Мы работаем с самыми крупными иностранными поставщиками и уверены,
                в качестве и подлинности товаров. Если у вас возникнут вопросы по товару, Вы всегда сможете связаться с
                нашими менеджерами во вкладке "Контакты", заполнив простую форму. И свами свяжутся для дальнейшей
                консультации.
            </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
    <a href="{% url 'catalog:create_product' %}" class="btn btn-outline-primary">Добавить товар</a>
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto">
                <p class="fs-5 text-body-secondary">Каталог товаров:</p>
            </div>
        </header>
        <div class="row">
            {% for object in object_list %}
                <div class="col-6 mt-3">
                    <div class="card">
                        <img src="{% path_tag object.preview %}" alt="..."/>
                        <div class="card-body">
                            <h5 class="card-title">{{ object.name }}</h5>
                            <p class="card-text">
                                {{ object.title|slice:100 }}...
                            </p>
                            <p class="card-text">
                                {{ object.price }} ₽
                            </p>
                            <a href="{% url 'catalog:product_detail' object.pk %}" class="btn btn-primary float-right">Купить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div><!-- /container -->
{% endblock %}